@tailwind base;
@tailwind components;
@tailwind utilities;

.animate-transform {
  transform: translateY(
    -65px
  ) !important; /* Ensures the translate stays applied */
  transition: transform 0.5s initial;
}

.disabled-container {
  pointer-events: none; /* Disables all user interactions */ /* Optional: add visual feedback */
}

.glow-red {
  text-shadow: 0 0 5px rgba(255, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb {
  background-color: black; /* Transparent blue */
  border-radius: 8px;
  height: 0.5rem; /* Rounded edges */
}

.move-text {
  display: block;
  word-wrap: break-word;
  margin-top: 0.1rem; /* Adjust this value as needed */
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes beat {
  0% {
    transform: scale(1);
    box-shadow: 0 0 10px 2px rgba(144, 238, 144, 0.8);
  }
  50% {
    transform: scale(1.009);
    box-shadow: 0 0 15px 4px rgba(144, 238, 144, 1);
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 10px 2px rgba(144, 238, 144, 0.8);
  }
}


.task-item {
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.task-item:hover {
  transform: translateY(-0.4rem);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999; /* Ensure it appears on top */
}

.loading-gif {
  width: 18rem; /* Adjust size as needed */
  height: 18rem;
}

.toast-container {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999; /* Ensures it appears above other elements */
}